.form-horizontal .control-label {
	padding-top: 0px;
}

.form-default{
	border-radius: 5px;
	border: 1px solid rgb(183, 182, 182);
	height: 30px;
	width: auto;
	padding:5px;
}

.select2-dropdown{
	width: 250px !important;
}

.tbl_riwayat tbody tr:hover{
	background-color: rgb(211, 255, 225) !important;
}

.select2-container .select2-selection--single {
	height: 30px !important;
}

/* .select2-container .select2-selection__rendered {
    line-height: 40px;
}

.select2-container .select2-selection__arrow {
    height: 40px;
} */